bodY
    {
      background-color: #100720;
    }
hr
 {
   border-style : none;
   border-top-style : dotted;
   border-color: rgb(253, 249, 249);
   border-width: 10px;
   width: 20%;
 }
h3
 {
   color: #FF1700;
 } 
 .heading1
 {
  color: rgb(246, 246, 249);
  font-size: 100px;
 }
 .heading
 {
  color: red;
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-color: white;
 }
 .paragraph
 {
  color: #FFFF00;
  font-size: 20px;
 }
 .orderedlist
 {
  color: aliceblue;
 }
 .rdtohp
 {
  color: blue;
 }
 .linkscolor
 {
  color: #FFF2F2;
 }