bodY
    {
      background-color:;
    }
hr
 {
   border-style : none;
   border-top-style : dotted;
   border-color: ;
   border-width: 10px;
   width: 10%;
 }
h3
 {
   color: ;
 } 
 .heading1
 {
  color: ;
  font-size: 100px;
 }
 .heading
 {
  color: ;
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-color: ;
 }
 .paragraph
 {
  color: ;
  font-size: 20px;
 }
 .orderedlist
 {
  color: ;
 }
 .rdtohp
 {
  color: ;
 }
 .linkscolor
 {
  color: ;
 }